<a href="https://colab.research.google.com/github/kailey5583/intro-python/blob/master/Assignment_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Problem 1
import urllib.request
import pandas

file_name = "https://raw.githubusercontent.com/mlepinski/Python-Worksheets/master/states.csv"
my_file = urllib.request.urlopen(file_name)
state_data= pandas.read_csv(my_file)

median1= state_data["Pop"].median()
median_name= " "
for (row_num, row)  in state_data.iterrows():
  if row["Pop"]== median1:
    median_name= row["Name"]
print(median_name)

Colorado

In [10]:
#Problem 2
import urllib.request
import pandas

file_name = "https://raw.githubusercontent.com/mlepinski/Python-Worksheets/master/states.csv"
my_file = urllib.request.urlopen(file_name)
state_data= pandas.read_csv(my_file)

states_with_m= 0
for name in state_data["Name"]:
  if name[0]== "M":
    states_with_m= states_with_m + 1
  else:
    states_with_m= states_with_m
print(states_with_m)

8

In [11]:
#Problem 3
import urllib.request
import pandas

file_name = "https://raw.githubusercontent.com/mlepinski/Python-Worksheets/master/states.csv"
my_file = urllib.request.urlopen(file_name)
state_data= pandas.read_csv(my_file)

state_data["Pop Density"]= state_data["Pop"] / state_data["Area"]

state_data.head()

         Name State    Area       Pop  Pop Density
0     Alabama    AL   52423   4040587    77.076608
1      Alaska    AK  656424    550043     0.837939
2     Arizona    AZ  114006   3665228    32.149431
3    Arkansas    AR   53182   2350725    44.201516
4  California    CA  163707  29769021   181.843299

In [5]:
#Problem 4
import urllib.request
import pandas

file_name = "https://raw.githubusercontent.com/mlepinski/Python-Worksheets/master/states.csv"
my_file = urllib.request.urlopen(file_name)
state_data= pandas.read_csv(my_file)

state_data["Pop Density"]= state_data["Pop"] / state_data["Area"]

median_density= state_data["Pop Density"].median()
max_density= state_data["Pop Density"].max()
min_density= state_data["Pop Density"].min()

median_state= " "
max_state= " "
min_state= " "

for (row_num, row)  in state_data.iterrows():
  if row["Pop Density"]==median_density:
    median_state= row["Name"]
  if row["Pop Density"]==max_density:
    max_state= row["Name"]
  if row["Pop Density"]==min_density:
    min_state= row["Name"]
print("the median state is", median_state,".","the maximum state is,", max_state,".", "the minimum state is,", min_state)

the median state is Wisconsin . the maximum state is, District of Columbia . the minimum state is, Alaska